* {
  margin: 0;
}

body {
  padding: 0;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
button {
  padding: 0.3rem 1rem;
  border: none;
  width: fit-content;
  background: red;
  color: white;
  font-size: 1.4rem;
  border-radius: 5px;
}
input {
  padding: 0.3rem 1rem;
  background-color: beige;
  font-size: 1.4rem;
  border-radius: 5px;
}
.form-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.post {
  width: 48%;
  flex: 1;
  background-color: beige;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
